<form class="card text-center">
  <div
    class="card-header d-flex gap-2 justify-content-between align-items-center"
  >
    <input
      class="form-control fs-1"
      id="recipeName"
      name="recipeName"
      [(ngModel)]="recipe.name"
    />
    <a class="btn btn-outline-warning" routerLink="../"> Discard </a>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <img
        src="{{ recipe.imageUrl }}"
        alt="{{ recipe.name }}"
        class="img-fluid w-100 rounded"
        style="max-width: 600px"
      />
    </div>

    <hr class="border border-primary border-2 opacity-25" />
    <article class="">
      <h3>Description</h3>
      <textarea
        class="form-control"
        id="recipeDescription"
        name="recipeDescription"
        style="height: 15rem"
        [(ngModel)]="recipe.description"
      ></textarea>
    </article>
    <hr class="border border-primary border-2 opacity-25" />
    <div class="container mt-3">
      <h3 class="">Ingredients</h3>
      <ul class="list-group list-group-flush">
        <li
          *ngFor="let ingredient of recipe.ingredients; let i = index"
          class="list-group-item"
        >
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="ingredientAmount{{ i }}"
              name="ingredientAmount{{ i }}"
              [(ngModel)]="ingredient.amount"
            />
            <input
              type="text"
              class="form-control"
              id="ingredientUnit{{ i }}"
              name="ingredientUnit{{ i }}"
              [(ngModel)]="ingredient.unit"
            />
            <input
              type="text"
              class="form-control"
              id="ingredientName{{ i }}"
              name="ingredientName{{ i }}"
              [(ngModel)]="ingredient.name"
            />
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-center gap-2">
    <button class="btn btn-success">Save changes</button>
  </div>
</form>
