<form
  class="container p-3 mb-2 rounded border"
  style="max-width: 600px"
  aria-describedby="formDescription"
>
  <h2 class="form-text" id="formDescription">Enter a new ingredient</h2>
  <div class="mb-2">
    <label class="form-label" for="name">Name</label>
    <input
      type="text"
      class="form-control"
      aria-label="Enter new ingredient name"
      id="name"
      name="ingredientName"
      [(ngModel)]="ingredientName"
      #firstInput
    />
  </div>
  <div class="mb-2">
    <label class="form-label" for="amount">Amount</label>
    <input
      type="number"
      class="form-control"
      aria-label="Enter amount needed"
      id="amount"
      name="ingredientAmount"
      [(ngModel)]="ingredientAmount"
    />
  </div>
  <div class="mb-2">
    <label class="form-label" for="unit">Unit</label>
    <input
      type="text"
      class="form-control"
      aria-label="Enter unit of amount"
      id="unit"
      name="ingredientUnit"
      [(ngModel)]="ingredientUnit"
    />
  </div>
  <div class="mt-3 d-flex gap-2">
    <button
      class="btn btn-outline-primary"
      type="button"
      (click)="handleAddIngredient(false)"
      [disabled]="
        ingredientName === '' ||
        ingredientAmount === null ||
        ingredientUnit === ''
      "
    >
      + Add
    </button>
    <button
      class="btn btn-primary"
      type="button"
      (click)="handleAddIngredient(true)"
      [disabled]="
        ingredientName === '' ||
        ingredientAmount === null ||
        ingredientUnit === ''
      "
    >
      + Add and return
    </button>
  </div>
</form>
