<div class="card text-center">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h2 class="fs-1">{{ recipe.name }}</h2>
    <a *ngIf="allowEdit" class="btn btn-outline-warning" routerLink="edit"
      >Edit</a
    >
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <img
        src="{{ recipe.imageUrl }}"
        alt="{{ recipe.name }}"
        class="img-fluid w-100 rounded"
        style="max-width: 600px"
      />
    </div>

    <hr class="border border-primary border-2 opacity-25" />
    <article class="">
      <h3>Description</h3>
      {{ recipe.description }}
    </article>
    <hr class="border border-primary border-2 opacity-25" />
    <div class="container mt-3">
      <h3 class="">Ingredients</h3>
      <ul class="list-group list-group-flush">
        <li
          *ngFor="let ingredient of recipe.ingredients"
          class="list-group-item"
        >
          <span>{{ ingredient.amount }} </span>
          <span>{{ ingredient.unit }} </span>
          <span>{{ ingredient.name }}</span>
        </li>
      </ul>
      <button
        (click)="onAddIngredientsToShoppingList(recipe.id)"
        class="btn btn-sm btn-outline-primary"
      >
        Add to Shopping List
      </button>
    </div>
  </div>
  <div class="card-footer"></div>
</div>
