<div class="container">
  <div class="row">
    <div class="col-4">
      <ul class="list-group">
        <app-recipe-list-item *ngFor="let recipe of recipes" [recipe]="recipe">
        </app-recipe-list-item>
      </ul>
    </div>
    <div class="col-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
