<main class="form-signin w-50 m-auto">
  <form>
    <h2 class="text-center mt-3">Please sign in to continue</h2>
    <!-- <div class="form-floating">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
      />
      <label for="floatingPassword">Password</label>
    </div>

    <div class="form-check text-start my-3">
      <input
        class="form-check-input"
        type="checkbox"
        value="remember-me"
        id="flexCheckDefault"
      />
      <label class="form-check-label" for="flexCheckDefault">
        Remember me
      </label>
    </div> -->
    <button
      class="btn btn-primary w-100 mt-2 py-2"
      (click)="onSignIn()"
      type="button"
    >
      Sign in
    </button>
  </form>
</main>
