<ul class="nav nav-fill nav-pills">
  <li class="nav-item">
    <a
      routerLink="/recipes"
      class="nav-link"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Recipes</a
    >
  </li>
  <li class="nav-item">
    <a
      routerLink="/shopping-list"
      class="nav-link"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Shopping List</a
    >
  </li>
  <li class="nav-item">
    <a
      routerLink="/new-ingredient"
      class="nav-link"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >+</a
    >
  </li>
  <li class="nav-item dropdown">
    <button
      class="nav-link dropdown-toggle"
      type="button"
      aria-expanded="false"
      (click)="isOpen = !isOpen"
    >
      Settings
    </button>
    <ul [ngClass]="isOpen ? 'show' : ''" class="dropdown-menu">
      <!-- <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li> -->
      <li><a class="dropdown-item" (click)="onSignOut()">Sign Out</a></li>
    </ul>
  </li>
</ul>
