<div class="container" style="max-width: 600px">
  <div class="container text-center my-3">
    <a class="btn btn-primary btn-md" routerLink="/new-ingredient"
      >Add new Ingredient</a
    >
  </div>
  <ul *ngIf="ingredients.length > 0; else emptyList" class="list-group">
    <!-- move this to shopping-list-item component -->
    <li
      *ngFor="let ingredient of ingredients; let i = index"
      class="list-group-item container"
    >
      <input
        class="form-check-input me-2"
        type="checkbox"
        value=""
        id="{{ i }}CheckboxStretched"
      />

      <label
        class="form-check-label stretched-link"
        for="{{ i }}CheckboxStretched"
        >{{ ingredient.amount }} {{ ingredient.unit }}
        {{ ingredient.name }}</label
      >
    </li>
  </ul>
  <ng-template #emptyList>
    <div class="container text-center">
      <span class="text-body-tertiary"
        >Your shopping list is currently empty</span
      >
    </div>
  </ng-template>
</div>
